.jobbra{
    margin-left: auto;
    margin-right: 30px;
}
.foldkep2 img{
    margin: auto;
    object-fit: contain;
    width: 100%;  
}
.tudkep{
    margin: auto;
    object-fit: contain;
    width: 100px;  
}
.torkep{
    margin: auto;
    object-fit: contain;
    width: 150px;  
}
.carousel {
    margin: auto;
    width: 50%;
    
}
.eteldiv img {
    width: 300px;
}
body{
    background-color: rgb(209, 255, 255);
}
.table th{
    background-color: rgb(209, 255, 255);
}
.table td{
    background-color: rgb(209, 255, 255);
}
.hiresdiv img{
    width: 300px;
}